main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

p {
  max-width: 800px;
}

a {
  text-decoration: underline;
  color: darkgreen;
}

@media (max-width: 500px) {
  p {
    max-width: 375px;
  }
}
