/* CSS Code, der für alle Web Pages gleich ist und auf allen Web Pages eingebunden werden muss. */
body {
  font-family: "articulat-cf", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "articulat-heavy-cf", sans-serif;
  font-weight: 900;
  font-size: 140px;
}

h2 {
  font-weight: 500;
  font-size: 80px;
}

h3 {
  font-weight: 800;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 800;
}

h6 {
  font-weight: 400;
}

button {
  font-weight: 500;
}

nav,
footer {
  height: 40px;
}

main {
  flex: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ecf3c0;
  padding: 10px 20px;
  gap: 20px;
}

nav .logo {
  width: 100%;
  height: auto;
  max-width: 50px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.nav_link {
  display: flex;
  gap: 20px;
}

.nav_link a {
  text-decoration: none;
  color: black;
  font-size: 70%;
}

/*
.search-container {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  align-items: center;
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.search-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-container img {
  width: 100%;
  height: auto;
  max-width: 20px;
}

.cart-icon img {
  width: 100%;
  height: auto;
  max-width: 25px;
}
*/

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle img {
  width: 30px;
  height: auto;
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 550px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center -200px;
}

.hero-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  line-height: 1;
}

.hero-text h1,
h2 {
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf3c0;
  padding: 10px 20px;
  flex-wrap: wrap;
  gap: 20px;
}

footer .description {
  flex: 1;
  text-align: left;
  font-size: 80%;
}

footer .name {
  flex: 1;
  text-align: center;
  font-weight: 400;
}

footer .icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

footer .icons img {
  width: 100%;
  height: auto;
  max-width: 40px;
}

.scroll-top {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #303b1b;
  border: none;
  cursor: pointer;
  position: relative;
}

.scroll-top::before {
  content: "↑";
  color: white;
  font-size: 24px;
  position: absolute;
  top: 2px;
  left: 12px;
}

@media (max-width: 500px) {
  .nav_link {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #303b1b;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .nav_link.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  /* ToDO: Für HERO Bereich gleich machen, dass sich es anpasst */
}
