.produkte_section {
    padding: 2rem 0;
    text-align: center;
  }
  
  .produkte_section_h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .produkte_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    width: 95vw;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .produkt {
    text-align: center;
  }
  
  .produkt_img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
    background-color: #ccc;
  }
  
  .produkt_h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0 0;
    font-weight: bold;
  }
  
  .produkt_h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.2rem 0;
    text-transform: none; 
  }
  
  .produkt_h4 {
    font-size: 1rem;
    font-weight: normal;
    color: #555;
    margin: 0;
  }
  
  /* Grosse Bildschirme */
@media (max-width: 1400px) {
  .produkte_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablets */
@media (max-width: 1000px) {
  .produkte_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Smartphones */
@media (max-width: 600px) {
  .produkte_grid {
    grid-template-columns: 1fr;
  }
}

/* hover */
.produkt {
  transition: transform 0.30s ease, box-shadow 0.20s ease; 
  cursor: pointer;
  padding: 1em; 
  min-height: 250px; 
}

.produkt:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px #97b166(0, 0, 0, 0); 
}

.produkt:hover .produkt_h2,
.produkt:hover .produkt_h3 {
  color: #97b166; 
}
